* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
a {
    text-decoration: none;
}
ul {
    list-style: none;
}
img {
    display: block;
    max-width: 100%;
    height: auto;
}
.header {
    background-image: url(../img/background/Object.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    color: #fff;
    background-color: #1a1915;
    padding: 19px 0 138px;
}

.menu {
    display: flex;
    justify-content: center;
    margin-bottom: 115px;
}
.item {
    padding: 5px;
    padding-right: 30px;
}
.menu-item {
    padding: 5px;
    border: 2px solid #fff;
    border-radius: 20px;
}
.menu-link {
    color: white;
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 14px;
    font-weight: 700;
}
.logo {
    text-align: center;
}
.logo-text {
    font-family: 'Montserrat Bold', sans-serif;
    color: white;
    font-size: 20px;
    text-transform: uppercase;
    font-weight: 700;
}
.top-header {
    margin-bottom: 38px;
}
h1 {
    width: 300px;
    font-family: 'Montserrat Bold', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0 auto 20px;
    text-align: center;
}
.title {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: center;
    font-weight: lighter;
}
.sub-title {
    display: flex;
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 14px;
    font-weight: 700;
    color: white;
    background-color: #ff4e50;
    border-radius: 20px;
    text-align: center;
    padding: 14px 25px;
    margin: 30px auto 0;
    border: none;
}
.main {
    padding: 70px 0 57px;
}
.main-title {
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 22px;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
    width: 1200px;
}
.box {
    text-align: center;
}
.img {
    width: 120px;
    height: 120px;
    margin: 0 auto 20px;
    position: relative;
}
.icon {
    display: block;
    width: 40px;
    height: 40px;
    border: 4px solid #fff;
    border-radius: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: 1;
}
.tv {
    background-color: #ff4e50;
    padding: 7px;
}
.bottle {
    background-color: #ffa507;
    padding: 8px 10px;
}
.tea {
    background-color: #1cd7ad;
    padding: 7px;
}
.plane {
    background-color: #4e73db;
    padding: 8px 7px;
}
.list-title {
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 14px;
    color: #333;
    margin-bottom: 20px;
}
.list {
    margin-bottom: 20px;
}
.list:last-child {
    margin-bottom: 0;
}
.list-text {
    font-family: 'Roboto Light', sans-serif;
    font-size: 14px;
    color: #666;
    flex-wrap: lighter;
}
.see-partners {
    font-family: 'Montserrat Bold', sans-serif;
    font-size: 14px;
    color: #ff4e50;
    text-align: center;
    padding: 15px 35px;
    margin: 30px auto 0;
    border: 2px solid #ff4e50;
    border-radius: 25px;
}
button {
    background-color: white;
    outline: none;
    display: flex;
}
@media (min-width: 690px) {
    .logo {
        padding-top: 12px;
    }
    .h1 {
        font-size: 52px;
        width: 472px;
        margin: 0 auto 40px;
    }
    .title {
        margin-bottom: 36px;
        font-size: 24px;
    }
    .main {
        padding-bottom: 40px;
    }
    .sub-title {
        width: 225px;
    }
    .see-partners {
        width: 193px;
    }
}
@media (min-width: 960px){
    .main {
        padding-bottom: 75px;
    }
}