* {
    outline: 0 !important;
  }

@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin-regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), 
         url('../fonts/montserrat-v12-latin-regular.woff') format('woff'),
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v12-latin-700.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), 
         url('../fonts/montserrat-v12-latin-700.woff') format('woff'), 
  }
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v7-latin-regular.eot'); 
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
         url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'), 
         url('../fonts/roboto-slab-v7-latin-regular.woff') format('woff'), 
  }
  @import url('https://fonts.googleapis.com/css?family=Dancing+Script');
  @import url('https://fonts.googleapis.com/css?family=Cookie|Dancing+Script');
 p {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
    color: #777777;
    line-height: 20px;
  }
.container {
    color: white;
    width: 950px;
    margin-right: auto;
    margin-left: auto;
}
.section-01 {
    background: white;
}
span {
    display: block;
}
.header {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-family: 'Dancing Script', cursive;
    color: #fed136;
    font-size: 26px;
    text-decoration: none;
    position: relative;
    top: 20px;
}
ul {
    list-style: none;
}

.menu-home {
    position: relative;
    display:inline-flex;
}
.menu-services {
    position: relative;
    display:inline-flex;
}
.menu-portfolio {
    position: relative;
    display:inline-flex;
}
.menu-about {
    position: relative;
    display:inline-flex;
}
.menu-contact {
    position: relative;
    display:inline-flex;
}
li a {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 14px;
    text-decoration: none;
    padding: 20px;
}
li a:hover {
    color: #fed136;
}
.block2 {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.font1 {
    font-family: 'Montserrat-Bold', sans-serif;
    color: #222222;
    font-size: 40px;
}
.font2 {
    font-family: 'Dancing Script', cursive;
    font-family: 'Cookie', cursive;
    color: #777777;
    font-size: 16px; 
}
.block3 {
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
    
}
.circle-1 {
    padding: 20px;
    width: 280px;
    text-align: center;
    text-indent: 25px;
}
.circle-1 img {
    position: relative; 
}
.icon-1 {
    position: relative;
    left: 20px;
}
.images-1 {
    position: relative;
    right: 42px;
    bottom: 20px;
}
.circle-2 {
    padding: 20px;
    width: 280px;
    text-align: center;
    text-indent: 25px;
}
.circle-2 img {
    position: relative;
}
.icon-2 {
    position: relative;
    left: 20px;
}
.images-2 {
    position: relative;
    right: 42px;
    bottom: 20px;
}
.circle-3 {
    padding: 20px;
    width: 280px;
    text-align:center;
    text-indent: 25px;
}
.circle-3 img {
    position: relative;
}
.icon-3 {
    position: relative;
    left: 20px;
}
.images-3 {
    position: relative;
    right: 35px;
    bottom: 20px;
}

h3 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    color: #222222;
    font-size: 18px;
}

.s2 {
    background-image: url(../img/background_2.png);
}
.block4 {
    display: flex;
    flex-direction: column;
    text-align: center;
}
.font1-white {
    font-family: 'Montserrat-Bold', sans-serif;
    color: white;
}
.block5 {
    font-family: 'Montserrat-Bold', sans-serif;
    color: #bbbbbb;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}
.form1 form input {
    width: 440px;
    height: 45px;
    margin: 15px;
    border-radius: 3px;
    padding-left: 20px;
}

.form2 form input {
    width: 440px;
    height: 45px;
    margin: 15px;
    border-radius: 3px;
    padding-left: 20px;
}
.form3 form input {
    width: 440px;
    height: 45px;
    margin: 15px;
    border-radius: 3px;
    padding-left: 20px;
}
.block6 {
    display: flex;
    position: relative;
    margin: 15px;
    font-family: 'Montserrat-Bold', sans-serif;
}
.form4 form input {
    width: 430px;
    height: 210px;
    border-radius: 3px;
    right: 30px;
    padding-left: 20px;
   
}
.blocks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.block7 {
    display: flex;
    justify-content: center; 
}

button {
    width: 240px;
    height: 60px;
    background-color: #fed136;
    color: white;
    border-radius: 3px;
    margin-bottom: 50px;
}