@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin-regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), 
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v12-latin-700.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), 
  }
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v7-latin-regular.eot'); 
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
         url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'), 
 
  }
  @import url('https://fonts.googleapis.com/css?family=Dancing+Script');
  @import url('https://fonts.googleapis.com/css?family=Cookie|Dancing+Script');
 
body {
    margin: 0;
}  
p {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
    color: #777777;
    line-height: 20px;
  }
.container {
    color: white;
    max-width: 950px;
    margin-right: auto;
    margin-left: auto;
}
.section-services {
    background: white;
}
span {
    display: block;
}
.header {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-family: 'Dancing Script', cursive;
    color: #fed136;
    font-size: 26px;
    text-decoration: none;
    position: relative;
    top: 20px;
}
ul {
    list-style: none;
}

.menu-home {
    position: relative;
    display:inline-flex;
}
.menu-services {
    position: relative;
    display:inline-flex;
}
.menu-portfolio {
    position: relative;
    display:inline-flex;
}
.menu-about {
    position: relative;
    display:inline-flex;
}
.menu-contact {
    position: relative;
    display:inline-flex;
}
li a {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 14px;
    text-decoration: none;
    padding: 20px;
}
li a:hover {
    color: #fed136;
}
.services {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
}
.montserrat-bold {
    font-family: 'Montserrat-Bold', sans-serif;
    color: #222222;
    font-size: 40px;
}
h2 {
    font-family: 'Dancing Script', cursive;
    font-family: 'Cookie', cursive;
    color: #777777;
    font-size: 16px; 
}
.list {
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
    
}
.e-commerce_1 {
    padding: 20px;
    width: 280px;
    text-align: center;
    text-indent: 25px;

}
.icon-1 {
    display: flex;
    position: relative;
    left: 105px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #fed136;
    justify-content: center;
}
.images-1 {
    position: relative;
    top: 10px;
}

.responsive-web_2 {
    padding: 20px;
    width: 280px;
    text-align: center;
    text-indent: 25px;
}
.icon-2 {
    display: flex;
    position: relative;
    left: 105px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #fed136;
    justify-content: center;
}
.images-2 {
    position: relative;
    top: 10px;
}
.web-security_3 {
    padding: 20px;
    width: 280px;
    text-align:center;
    text-indent: 25px;
}
.icon-3 {
    display: flex;
    position: relative;
    left: 110px;
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #fed136;
    justify-content: center;
}
.images-3 {
    position: relative;
    top: 10px;
}


h3 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    color: #222222;
    font-size: 18px;
    text-align: center;
}

footer {
    background-image: url(../img/background_2.png);  
    padding-bottom: 80px;

}
.form {
    display: flex;
    justify-content: space-between;
}
.form-left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.form-left-text, .form-right-text {
    padding-left: 15px;
    text-transform: uppercase;
    border-radius: 3px;
    font-family:  'Montserrat Bold', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px; 
    color: #bbbbbb;
    text-align: left;
    border: none;
}
.form-left-text {
    width: 440px;
    height: 45px;
}
.form-right-text {
    padding-top: 20px;
}

.send-message {
    width: 240px;
    height: 60px;
    background-color: #fed136;
    font-size: 18px;
    font-family: 'Montserrat Bold', sans-serif;
    font-style: normal;
    font-weight: 700;
    color: white;
    text-transform: uppercase;
    text-align: center;
    border-radius: 3px;
    display: block;
    margin: 40px auto 0;
    border: none;
}

.title-contact_us {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 70px;
}
.montserrat-white {
    font-family: 'Montserrat-Bold', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 700;
}
input:valid {
    outline: 2px solid green;
}
input:invalid {
    outline: 2px solid red;
}
textarea:valid {
    outline: 2px solid green;
}
textarea:invalid {
    outline: 2px solid red;
}
