@font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/montserrat-v12-latin-regular.eot');
    src: local('Montserrat Regular'), local('Montserrat-Regular'),
         url('../fonts/montserrat-v12-latin-regular.woff2') format('woff2'), 
  }
  @font-face {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/montserrat-v12-latin-700.eot');
    src: local('Montserrat Bold'), local('Montserrat-Bold'),
         url('../fonts/montserrat-v12-latin-700.woff2') format('woff2'), 
  }
@font-face {
    font-family: 'Roboto Slab';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/roboto-slab-v7-latin-regular.eot'); 
    src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'),
         url('../fonts/roboto-slab-v7-latin-regular.woff2') format('woff2'), 
 
  }
  @import url('https://fonts.googleapis.com/css?family=Dancing+Script');
  @import url('https://fonts.googleapis.com/css?family=Cookie|Dancing+Script');
 
body {
    margin: 0;
}  
p {
    font-family: 'Roboto Slab', sans-serif;
    font-size: 14px;
    color: #777777;
    line-height: 20px;
  }
.container {
    color: white;
    max-width: 950px;
    margin-right: auto;
    margin-left: auto;
}
.section-services {
    background: white;
}
span {
    display: block;
}
.header {
    display: flex;
    justify-content: space-between;
}
.logo {
    font-family: 'Dancing Script', cursive;
    color: #fed136;
    font-size: 26px;
    text-decoration: none;
    position: relative;
    top: 20px;
}
ul {
    list-style: none;
}

.menu-home {
    position: relative;
    display:inline-flex;
}
.menu-services {
    position: relative;
    display:inline-flex;
}
.menu-portfolio {
    position: relative;
    display:inline-flex;
}
.menu-about {
    position: relative;
    display:inline-flex;
}
.menu-contact {
    position: relative;
    display:inline-flex;
}
li a {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-size: 14px;
    text-decoration: none;
    padding: 20px;
}
li a:hover {
    color: #fed136;
}
.services {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 40px;
}
.montserrat-bold {
    font-family: 'Montserrat-Bold', sans-serif;
    color: #222222;
    font-size: 40px;
}
h2 {
    font-family: 'Dancing Script', cursive;
    font-family: 'Cookie', cursive;
    color: #777777;
    font-size: 16px; 
}
.list {
    display: flex;
    position: relative;
    margin-top: 20px;
    margin-bottom: 40px;
    justify-content: center;
    
}
.e-commerce_1 {
    padding: 20px;
    width: 280px;
    text-align: center;
    text-indent: 25px;
}
.e-commerce_1 img {
    position: relative;
}
.responsive-web_2 {
    padding: 20px;
    width: 280px;
    text-align: center;
    text-indent: 25px;
}
.responsive-web_2 img {
    position: relative;
}

.web-security_3 {
    padding: 20px;
    width: 280px;
    text-align:center;
    text-indent: 25px;
}
.web-security_3 img {
    position: relative;
}

#circle {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    border: 3px solid #fed136;
}

h3 {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    color: #222222;
    font-size: 18px;
}

.section-contact_us {
    background-image: url(../img/background_2.png);
    
}
.title-contact_us {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-top: 70px;
}
.montserrat-white {
    font-family: 'Montserrat-Bold', sans-serif;
    color: white;
    font-size: 40px;
    font-weight: 700;
}
.blocks {
    padding-top: 30px;
}
.form_3 {
    font-family: 'Montserrat-Bold', sans-serif;
    color: #bbbbbb;
    font-size: 14px;
    display: flex;
    flex-direction: column;
}
.form_your_name form input {
    width: 440px;
    height: 45px;
    margin: 15px;
    border-radius: 3px;
    padding-left: 20px;
    border: none;
}

.form_your_e-mail form input {
    width: 440px;
    height: 45px;
    margin: 15px;
    border-radius: 3px;
    padding-left: 20px;
    border: none;
}
.form_subject form input {
    width: 440px;
    height: 45px;
    margin: 15px;
    border-radius: 3px;
    padding-left: 20px;
    border: none;
}
.form_1 {
    display: flex;
    position: relative;
    margin: 15px;
    font-family: 'Montserrat-Bold', sans-serif;
}
.form_your_message form input {
    width: 430px;
    height: 200px;
    border-radius: 3px;
    right: 30px;
    padding-left: 20px;
    border: none;
   
}
.blocks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.button {
    display: flex;
    justify-content: center; 
}

button {
    font-family: 'Montserrat-Bold', sans-serif;
    font-weight: 700;
    font-size: 18px;
    width: 240px;
    height: 60px;
    background-color: #fed136;
    color: white;
    border-radius: 3px;
    margin-bottom: 100px;
    border: none;
}