* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
background-image: url(../img/background.png);
background-repeat: no-repeat; 
}
.menu {
    list-style: none;
    padding: 10px;
    font-size: 28px;
    text-transform: uppercase;
    text-align: center;
    padding-top: 100px; 
    
    
}
.menu-home {
    position: relative;
    display: inline-block;
}
.menu-home > a{
    color: white;
    text-decoration: none;
    font-family: "Pathway Gothic One";
    padding: 15px 30px;
    font-size: 28px;
}
    
    
.menu-about {
    color: white;
    position: relative;
    display: inline-block;
      
}

.menu-about > a,
.submenu-about > a {
    display: inline-block;
    padding: 15px 15px;
    color: white;
    text-decoration: none;
    font-family: "Pathway Gothic One";
    font-size: 28px;
}

.submenu {
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    list-style: none;
    background-color: white;
    border-radius: 2%; 
    
}
.submenu-about > a {
    color: #263555;
    font-size: 20px;
    line-height: 1px;
}
.menu-about:hover > .submenu {
    display: block;
}
.agency > a{
    font-family: Arial;
    font-size: 10px;
}

.menu-gallery {
    position: relative;
    display: inline-block;
}
.menu-gallery > a{
    color: white;
    text-decoration: none;
    font-family: "Pathway Gothic One";
    padding: 15px 30px;
    font-size: 28px;
}
.menu-journey{
    position: relative;
    display: inline-block;
}
.menu-journey > a{
    color: #263555;
    text-decoration: none;
    font-family: "Dorsa";
    padding: 15px 30px;
    font-size: 60px;
}
#circle {
	width: 150px;
	height: 150px;
    background: white;
    border-radius: 50%;
    padding-top: 40px;
}
.menu-tours {
    position: relative;
    display: inline-block;
}
.menu-tours > a{
    color: white;
    text-decoration: none;
    font-family: "Pathway Gothic One";
    padding: 15px 30px;
    font-size: 28px;
}
.menu-blog {
    position: relative;
    display: inline-block;
}
.menu-blog > a{
    color: white;
    text-decoration: none;
    font-family: "Pathway Gothic One";
    padding: 15px 30px;
    font-size: 28px;
}
.menu-contacts {
    position: relative;
    display: inline-block
}
.menu-contacts > a{
    color: white;
    text-decoration: none;
    font-family: "Pathway Gothic One";
    padding: 15px 30px;
    font-size: 28px;
}
.wrapper {
    background-color: white;
    margin-right:auto;
    margin-left:auto;
    width: 1024px;
    margin-top: 70px;
}
.block1 {
    position: relative;
}
.text_block1 {
    position: absolute; top: 270px; left: 61px;
    font-family: "Pathway Gothic One";
    font-size: 23px;
    color: #263555;
    padding: 15px 10px;
    
}
#rectangle {
    display: block;
	width: 225px;
	height: 60px;
    background: white;  
}
.text_foto2 {
    position: absolute; top: 330px; left: 61px;
    font-family: "Pathway Gothic One";
    font-size: 35px;
    color: white;
    padding: 10px 10px;
}
#rectangle2 {
    display: block;
    width: 275px;
    height: 60px;
    background: #38afe5;
}
*{
    outline: none !important
    }
.halfСircle1 {
    width: 50px;
    height: 100px;
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
    background: #38afe5;
    display: inline-block;
    position: relative;
    color: white;
}

.halfCircle2 {
    width: 50px;
    height: 100px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    background: #38afe5;
    display: inline-block;
    position: relative;
    color: white;
}







img {
    padding:6%;  
}
.block2{
    position: relative;
    
    padding: 5%;
}
.contanier {
    white-space: nowrap;
    width: 1024px;
    
}
.blocks1 {
    display: inline-block;
    position: relative; 
    padding: 4px;
}
.blocks2 {
    display: inline-block;
    position: relative; 
    padding: 4px;
    
}
.blocks3{
    display: inline-block;
    position: relative; 
    padding: 4px;
}

#rectangle3 {
    display: block;
    width: 147px;
    height: 270px;
    background: #193149;
}
.block2text {
    display: none;
    font-family: Arial;
    font-size: 11px;
    position: absolute; top: 21px; left: 21px;
}
h3 {
    font-family: "Pathway Gothic One";
    font-size: 30px;
    color: white;
    padding: 15% 15%;
    width: normal;
}
p{
  font-family: "Arial";  
  color: white;
  padding: 5%;
}
button {
    width: 60px;
    border-radius: 5px;
    margin: 20px 75px;
}
button:hover {
    cursor:pointer;
}
.block2text{
    display:block;
}

h2 {
    font-family: "Pathway Gothic One";
    font-size: 30px;
    color: #263555;
    margin-left: 10px;
    margin-top: -10px;
}


