.h2 {
    font-family: "Pathway Gothic One";
}
body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
}
.wrapper {
    background-color: white;
    margin-right:auto;
    margin-left:auto;
    width: 480px;      
}
img {
    height: 98px;
    width: 406px;
}
p {
    color: black;
}
.text{
    font-size: 17px;
    padding: 5%;
    color: #263555;  
}
    img {
    width: 430px;   
}
hr {
    border: none;
    background-color: #dedbdb;
    height: 1px;
}
.content{
    font-size: 0%;
}

ul{
    display: inline-block;
    width: 50%;
    list-style: none;    
}
li {
    font-size: 14px;
}
*{
    box-sizing: border-box;
}

