h2 {
    font-family: "Pathway Gothic One";
    font-size: 25px;
    font-weight: normal;
}
body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;
}
.wrapper {
    background-color: white;
    margin-right:auto;
    margin-left:auto;
    margin-top: 240px;
    width: 480px;   
    margin-bottom: 30%;   
}
img {
    height: 98px;
    width: 405px;
}
p {
    color: #4e5050;    
}
.grey {
    color: #676f81;
}
.text{
    font-family: Arial;
    letter-spacing: normal;
    line-height: 17px;
    font-weight: normal;
    font-size: 12px;
    padding: 7%;
    color: #263555;
}
h4 {
    font-family: Arial;
    font-size: 14px;
    line-height: 19px;
    font-weight: normal;
}
hr {
    border: none;
    background-color: #dedbdb;
    height: 1px;
}
.content{
    margin-bottom: 40%;
}


ul li{
    display: block;
    width: 50%;
    list-style: none;  
    float: left;  
}
li {
    font-size: 14px;
    line-height: 30px; 
}
*{
    box-sizing: border-box;
}

