body {
    background-image: url(../img/background.png);
    background-repeat: no-repeat;  
}
.wrapper {
    background-color: white;
    margin-right:auto;
    margin-left:auto;
    width: 480px;      
}
img {
    height: 170px;
    width: 430px;
}
.text{
    padding: 5%;
    
}
    img {
    width: 430px;   
}
hr {
    border: none;
    background-color: grey;
    height: 1px;
}
.content{
    font-size: 0%;
}

ul{
    display: inline-block;
    width: 50%;
    list-style: none;    
}
li {
    font-size: 14px;
}
*{
    box-sizing: border-box;
}

