.wrapper {
    background-color: white;
    width: 1200px;
    margin-right:auto;
    margin-left:auto;
}
.block1 {
    display: flex;
    justify-content: space-between;

}

h3 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #95e1d3;
}

ul{
    list-style: none; 
}

ul .menu li{
    display: inline;
    margin-right: 5px;
    padding: 10px;
}
.menu-about {
    position: relative;
    display:inline-flex;
}
.menu-service {
    position: relative;
    display: inline-flex;
}
.menu-work {
    position:relative;
    display: inline-flex;
}
.menu-blog {
    position: relative;
    display: inline-flex;
}
.menu-contact {
    position: relative;
    display: inline-flex;
}



li a{
    font-family: 'Montserrat', sans-serif;
    color: #95e1d3;
    font-size: 14px;
    text-decoration: none;
    padding: 20px;
}
li a:hover {
    color: #f38181;
    transition-timing-function: linear;
    transition-duration: 200ms;
}
li::after {
        display: none;
        content: '';
        background: #f38181;
        position: absolute;
        width: 48px;
        height: 3px;
        bottom: 5px;
        margin: 7px;
        right: 15px;
}
li:hover:after {
    display: block;
    transition-timing-function: linear;
    transition-duration: 200ms;
}
.block2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1px;
}

h4 {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: normal;
    color: #333333;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #333333;
}
.block2::after {
    content: '';
    background: #f38181;
    width: 58px;
    height: 3px;
    left: 50%;
    margin-top: 20px;


}
.block3 {
    display: inline-flex;
    justify-content: center;
}
h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #b6b6b6;
}
.photography {
    width: 300px;
    margin: 20px;
    padding: 30px;
}
.photography img{
    position: absolute; 
    top: 310px; 
    left: 200px;
}
.foto {
    padding-left: 20px;
}
.web_desing {
    width: 300px;
    margin: 20px;
   padding: 30px;  
}
.web_desing img {
    position: absolute; 
    top: 310px; 
    left: 600px;
}
.foto2 {
    padding-left: 20px;
}
.creativity {
    width: 300px;
    margin: 20px;
    padding: 30px;
}
.creativity img{
    position: absolute; 
    top: 310px; 
    right: 550px;
}
.foto3 {
    padding-left: 20px;
}
.block4 {
    display: inline-flex;
    justify-content: center;
}
.seo {
    width: 300px;
    margin: 20px;
    padding: 30px;
}
.seo img{
    position: absolute; 
    top: 520px; 
    left: 200px;
}
.foto4 {
    padding-left: 20px;
}
.css_html {
    width: 300px;
    margin: 20px;
    padding: 30px;
}
.css_html img {
    position: absolute;
    top: 520px;
    left: 600px;
}
.foto5 {
    padding-left: 20px;
}
.digital {
    width: 300px;
    margin: 20px;
    padding: 30px;
}
.digital img {
    position: absolute;
    top : 520px;
    right: 550px;
}
.foto6 {
    padding-left: 20px;
}
.block5 {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1px;
}
.block5::after {
    content: '';
    background: #f38181;
    width: 58px;
    height: 3px;
    left: 50%;
    margin-top: 20px;
}
.block6 {
    margin-left: 110px;
    display: flex;
    text-align: center;
    width: 970px;
}
.block7 {
    display: flex;
    position: relative;
    top: 20px;
}

.general1 {
    display: flex;
    margin: 20px;
    position: relative;
    background-color: #95e1d3;
    width: 380px;
    height: 470px;
}
.general2 {
    display: flex;
    margin: 20px;
    position: relative;
    background-color: #95e1d3;
    width: 380px;
    height: 470px;
}
.general3 {
    display: flex;
    margin: 20px;
    position: relative;
    background-color: #95e1d3;
    width: 380px;
    height: 470px;
}
.fotos1 {
    display: flex;
    position: relative;
    width: 380px;
    height: 470px;
    
}
.fotos1 img {
    position: absolute;
    top: 0;
    left: 0;
}
.fotos1:hover {
    transform: translate(-20px, -20px);
    transition-timing-function: linear;
    transition-duration: 200ms;
}
.fotos2:hover {
    transform: translate(-20px, -20px);
    transition-timing-function: linear;
    transition-duration: 200ms;
}
.fotos3:hover {
    transform: translate(-20px, -20px);
    transition-timing-function: linear;
    transition-duration: 200ms;
}


.blocks11 img {
    top: 200px;
    left: 70px;
    background: #fce38a; 
    position: relative;    
    width: 56px;
    height: 56px;
}
.fotos1 img:hover {
    background-color: #95e1d3;
}

.fotos2 {
    display: flex;
    position: relative;
    width: 380px;
    height: 470px;
}
.fotos2 img {
    position: absolute;
    top: 0;
    left: 0;
}
.blocks22 img {
    top: 200px;
    left: 70px;
    background: #fce38a;
    position: relative;
    width: 56px;
    height: 56px;
}
.fotos2 img:hover {
    background-color: #95e1d3;
}
.fotos3 {
    display: flex;
    position: relative;
    width: 380px;
    height: 470px;
}
.fotos3 img {  
    position: absolute;
    top: 0;
    left: 0;
}
.blocks33 img {
    top: 200px;
    left: 70px;
    background: #fce38a;
    position: relative;
    width: 56px;
    height: 56px;
}
.fotos3 img:hover {
    background-color: #95e1d3;
}

.fotos1:hover .blocks1 {
    display: block;
    cursor: pointer;
}
.fotos2:hover .blocks2 {
    display: block;
    cursor: pointer;
}
.fotos3:hover .blocks3 {
    display: block;
    cursor: pointer;
}
.blocks1 {
    display: none;
    position: absolute;
    width: 380px;
    height: 470px;
    
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}
.blocks2 {
    display: none;
    position: absolute;
    width: 380px;
    height: 470px;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}
.blocks3 {
    display: none;
    position: absolute;
    width: 380px;
    height: 470px;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}
div

a {
    text-decoration: none;
}



figcaption {
    line-height: 14px;
    text-align: center;
}
h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
    color: #b6b6b6;
}


