.container {
    background-color: white;
    max-width: 1200px;
    margin-right: auto;
    margin-left: auto;
}
.block1 {
    display: flex;
    justify-content: space-between;
}

.logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #95e1d3;
    position: relative;
    top: 20px;
}

ul{
    list-style: none; 
}

ul .menu li{
    display: inline;
  
}
.menu-about {
    position: relative;
    display:inline-flex;
}
.menu-service {
    position: relative;
    display: inline-flex;
}
.menu-work {
    position:relative;
    display: inline-flex;
}
.menu-blog {
    position: relative;
    display: inline-flex;
}
.menu-contact {
    position: relative;
    display: inline-flex;
}
li {
    margin: 15px;
}

li a{
    font-family: 'Montserrat', sans-serif;
    color: #95e1d3;
    font-size: 14px;
    text-decoration: none;
    
}
li a:hover {
    color: #f38181;
    transition-timing-function: linear;
    transition-duration: 200ms;
}
li a::after {
    display: none;
    content: '';
    background: #f38181;
    position: absolute;
    width: 100%;
    height: 3px;
    top: 25px;
    left: 0;
}
li a:hover:after{
    display: block;
    transition-timing-function: linear;
    transition-duration: 200ms;
}
span {
    display: block;
}


.block2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.block2::after {
    content: '';
    background: #f38181;
    width: 58px;
    height: 3px;
    left: 15px;
    margin-top: 20px;
}
h2 {
    font-family: 'Kaushan Script', cursive;
    font-size: 24px;
    font-weight: normal;
    color: #333333;
}
.montserrat {
    font-family: 'Montserrat', sans-serif;
    font-size: 30px;
    color: #333333;
}
section .container::after {
    content: '';
    background: #f38181;
    width: 58px;
    height: 3px;
    left: 50%;
}
h5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 14px;
    font-weight: normal;
    color: #333333;
}
p {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
    color: #b6b6b6;
}
.block3 {
    display: flex;
    position: relative;
    justify-content: center;
    left: 30px;
}
.photography {
    width: 300px;
    margin: 30px;
    padding: 30px
    
    
}
.photography img {
    position: relative;
    top: 65px;
    right: 60px;
}

.web_desing {
    width: 300px;
    margin: 30px;
    padding: 30px;
}
.web_desing img{
    position: relative;
    top: 65px;
    right: 60px;
}

.creativity {
    width: 300px;
    margin: 30px;
    padding: 30px;
}
.creativity img{
    position: relative;
    top: 65px;
    right: 60px;
}

.block4 {
    display: flex;
    position: relative;
    left: 30px;
    bottom: 70px;
    justify-content: center;
}
.seo {
    width: 300px;
    margin: 30px;
    padding: 30px;
}
.seo img{
    position: relative; 
    top: 65px;
    right: 60px;
}

.css_html {
    width: 300px;
    margin: 30px;
    padding: 30px;
}
.css_html img {
    position: relative;
    top: 65px;
    right: 60px;
}

.digital {
    width: 300px;
    margin: 30px;
    padding: 30px;
}
.digital img {
    position: relative;
    top: 65px;
    right: 60px;
}

.block5 {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
}
.block5::after {
    content: '';
    background: #f38181;
    width: 58px;
    height: 3px;
    left: 50%;
    margin-top: 20px;
}
.block6 {
    margin-left: 110px;
    display: flex;
    text-align: center;
    width: 970px;
}
.block7 {
    display: flex;
}

.general1 {
    display: flex;
    margin: 15px;
    position: relative;
    background-color: #95e1d3;
    width: 380px;
    height: 470px;
}
.general2 {
    display: flex;
    margin: 15px;
    position: relative;
    background-color: #95e1d3;
    width: 380px;
    height: 470px;
}
.general3 {
    display: flex;
    margin: 15px;
    position: relative;
    background-color: #95e1d3;
    width: 380px;
    height: 470px;
}
.fotos1 {
    display: flex;
    position: relative;
    width: 380px;
    height: 470px;  
}
.fotos1 img {
    position: absolute;
    top: 0;
    left: 0;
}
.general1:hover .fotos1{
    transform: translate(-10px, -10px);
    transition-timing-function: linear;
    transition-duration: 200ms;
}
.general2:hover .fotos2 {
    transform: translate(-10px, -10px);
    transition-timing-function: linear;
    transition-duration: 200ms;
}
.general3:hover .fotos3{
    transform: translate(-10px, -10px);
    transition-timing-function: linear;
    transition-duration: 200ms;
}

.blocks11 img {
    top: 200px;
    left: 70px;
    background: #fce38a; 
    position: relative;    
    width: 56px;
    height: 56px;
    margin: -1.5px;
}
.blocks11 img:hover {
    background-color: #95e1d3;
}

.fotos2 {
    display: flex;
    position: relative;
    width: 380px;
    height: 470px;
}
.fotos2 img {
    position: absolute;
    top: 0;
    left: 0;
}
.blocks22 img {
    top: 200px;
    left: 70px;
    background: #fce38a;
    position: relative;
    width: 56px;
    height: 56px;
    margin: -1.5px;
}
.blocks22 img:hover {
    background-color: #95e1d3;
}
.fotos3 {
    display: flex;
    position: relative;
    width: 380px;
    height: 470px;
}
.fotos3 img { 
    position: absolute; 
    top: 0;
    left: 0;
}
.blocks33 img {
    top: 200px;
    left: 70px;
    background: #fce38a;
    position: relative;
    width: 56px;
    height: 56px;
    margin: -1.5px;
}
.blocks33 img:hover {
    background-color: #95e1d3;
}
.general1:hover .blocks1 {
   display: block;
}

.general2:hover .blocks2 {
    display: block;
   
}
.general3:hover .blocks3 {
    display: block; 
}

.blocks1 {
    display: none;
    position: absolute;
    width: 380px;
    height: 470px;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}
.blocks2 {
    display: none;
    position: absolute;
    width: 380px;
    height: 470px;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}
.blocks3 {
    display: none;
    position: absolute;
    width: 380px;
    height: 470px;
    background-image: linear-gradient(to top, rgba(252, 227, 138, 0.9) 0%, rgba(243, 129, 129, 0.9) 100%);
}


a {
    text-decoration: none;
}
figure {
    width: 1400px;
}
figcaption {
    position: relative;
    top: 450px;
    text-align: center;
    right: 20px;
    
}
figcaption h5 {
    margin-bottom: -20px;
}

h6 {
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    font-weight: normal;
    font-style: italic;
    color: #b6b6b6;
}


